@import "tailwindcss";

html,
body {
  @apply bg-white text-black transition-colors duration-300 min-h-screen;
}

@custom-variant dark (&:where(.dark, .dark *));

.dark html,
.dark body {
  @apply bg-gray-900 text-gray-100 h-full;
}

* {
  @apply box-border;
}

button {
  @apply cursor-pointer;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

th.asc, th.desc {
  @apply bg-red-900 text-white dark:text-white;
}

tbody tr td {
  @apply text-lg font-semibold;
}

.classificacao {
  text-indent: 5px;
}